
body {
	background-image: var(--backgroundimg);
	
	font:arial;
}

#container {
	display:flex;
	justify-content:space-around;
	flex-flow: row wrap;
	align-content:flex-start;
	/*border:double black;*/
}

header {
	flex: 1 1 80%;
	background-color:var(--bg);
	border: var(--borders);
	padding:1em;
	margin: 0 8rem;
	display:inline-flex;
	justify-content:space-around;
	color:var(--headertxt);
}

main {
	flex: 1 1 50%;
	background-color:var(--bg);
	border: var(--borders);
	padding:1em;
	margin: 1rem 5% 1rem 1%;
	display:inline-flex;
	justify-content:center;
	flex-flow: row wrap;
	color:var(--maintxt);
	}

main img:first-of-type, main img:last-of-type{
	width:55%;
	margin:0 1rem 1rem 1rem;
}

main img:not(:first-of-type, :last-of-type){
	width:45%;
	margin:0 0 1rem 0;
}
	
main.third {
	flex:1 1 60%
}

aside { 
	background-color:var(--bg);
	border: var(--borders);
	padding:0.5em;
	align-self:flex-start;
	display:inline-flex;
	justify-content:space-around;
	flex-flow:column wrap;
	}

aside:first-of-type {
	flex: 1 1 10%; 
	margin: 1rem 0 1rem 5%;
	color:var(--asidetxt);
	
}

aside:nth-of-type(2) {
	flex: 1 1 10%; 
	margin: 1rem 2rem 1rem 0;
}
	
aside img{
	flex:1 1 100%;
	width:100%;
	justify-content:center;
	background-color:var(--asidetxt);
}
ul{
	padding: 1em;
}
li ul{
	padding:0.3em;
}

footer {
	flex: 1 1 100%;
	background-color:var(--bg);
	border: var(--borders);
	padding:0.6rem;
	margin: 0 15rem;
	display:inline-flex;
	justify-content:space-between;
	color:var(--footertxt);
}

a {
	color: var(--acolour);
	font-weight:bolder;
}

h1 {
	font-size:1.5em;
	margin:0;
}

h2 {
	font-size:1.025em;
	margin:0;
	flex: 1 1 100%;
	text-align: center;
	color:var(--asidetxt);
	
}

p {
	flex:1 1 100%;
	margin:0.5rem 0;
}

@media screen and (max-width: 1024px) {
    .flexcontainer {
        display:block;
    }
}

/*@media (prefers-color-scheme: dark) {
    --asidebg:#7241b8;
	--mainbg:#800040;
	--headerbg:#005c00;
	--footerbg:#005c5c;
	--borders: double white;
	--txt: white;
}*/