:root{
}

body, html {
	height:100%;
	width:100%;
	padding: 0;
	margin:0;
}

body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13.5px;
	color:white;
	background-color:black;
}


#container {
	display:flex;
	flex-flow: row wrap;
	align-content:flex-start;
	/*background-image: url('imgs/backgrounds/rptbckgrd_starpulse.gif');*/
	background-position: center top;
    background-repeat: repeat;
	height:100%;
	
	
	/*background-color: white; */
}

/* ~~ ASIDE ~~ */

aside {
	display:inline-flex;
	flex-flow:column;
	flex: 1 10 auto;
	align-items:center;
	height:91%;
	max-width:15vw;
	box-sizing: border-box;
	background-image: url(imgs/backgrounds/rptbckgrd_blackstaticstars.gif);
	background-position: center top;
    background-repeat: repeat;
	border: 15px solid transparent; /* Required for border-image */
    border-image: url(imgs/borders/plasmaborder.png) 90 round;
	border-image-outset: 9px;
	z-index:2;
	overflow: scroll;
	margin-left:5px;
	padding:-10px;
}

img.icon {
	display:inline-flex;
	flex-flow:row;
	width:100%;
	background-image: url(imgs/backgrounds/rptbckgrd_lightpurplesparkles.gif);
	background-position: center top;
    background-repeat: repeat;
}

img.carpet {
	margin-top:-20px;
	width:50%;
	align-self:flex-end;
	}

img.navbutt {
	width:45%;
}

.navtitle {
	width:100%;
	font-size:1.5vw;
	text-align:center;
	align-items:center;
	padding-top:5px;
	margin-left:-0.3vw;

}

nav a {
	color: #9999FF;
}

a.zinelinktitles {
	font-size:1.4vw;
	line-height:1;
}

details.zines {
	margin-top:1em;
}

summary {
	margin-bottom:1em;
}

ul {
	list-style-type:none;
	padding:0;
	font-size:12px;
	text-align: center;
}

li {
	margin-top:0.5em;
}

/* ~~ HEADER ~~ */

header {
	display:inline-flex;
	flex: 1 1 100%;
	flex-flow:row;
	align-items:flex-start;
	justify-content:space-between;
	gap:1em;
	height:8%;
	width:100%;
	box-sizing: border-box;
	background-image: url('imgs/backgrounds/metalheart_167.jpg');
	background-position: center top;
    background-repeat: repeat;
	background-size: auto 240%;
	border-radius: 150px 15px 0px 0px;
	overflow:display;
	/*margin-left:6em;*/
	z-index:8;
}

header div.spacers {
	display:inline-flex;
	flex-flow:row;
	align-items:flex-start;
	justify-content:space-between;
	gap:2.5em;
	height:100%;
	overflow:display;
}

header div.pad {
	width:13vw;
}

header img.homolink {
	transform: rotate(-1deg);
	width:10.5em;
	margin-top:2px;
}

header div.spacers:last-child {
	gap:0.7em;
}

img.headerdecoration{
	overflow:shown;
	width:4.5em;
	margin-top:1px;
}

img.headerdecoration:last-child{
	margin-top:9px;
	margin-right:3px;
}

header p {
	font-size:10px;
	margin-top:-40px;
	margin-left:-5px;
	text-align:center;
}

header img.dslink {
	transform: rotate(1deg);
	width:5em;
	margin-top:2px;
}
/* ~~ MAIN FRAME ~~ */

main {
	display:inline-flex;
	background-image: url('imgs/backgrounds/rptbckgrd_starpulse.gif');
	flex: 10 1 auto;
	height:92.5%;
	align-self:stretch;
	box-sizing: border-box;
}

main iframe {
	display:inline-flex;
	width:100%;
	height:100%;
	align-self:stretch;
}