:root{
	/* Colours */
	--txt: black;
	--infobox: #fec9e4;
	--containerborders:dotted 4px transparent;
	--boxd: pink;
	--gfbg: #08457e;
}

body {
	color: var(--txt);
}

/* home */

 #container {
    width:535px;
    height:473px;
	border: var(--containerborders); 
 }
 
	.chillin{
		position:absolute;
		width:300px;
		margin-top:30px;
		margin-left:230px;
	}
	
	.alienplush img{
		position:absolute;
		width:230px;
		margin-left:15px;
	}
	
	.plushchair img{
		width:220px;
		position:absolute;
		margin-left:30px;
		margin-top:80px;
	}
	
	.boxd {
		background-color: var(--boxd);
		width:100px;
		text-align: center;
		font-size:1.1em;
		margin-left:5px;
		margin-top:5px;
	}
	
	.girlarrow img{
		position:absolute;
		width:80px;
		margin-top:35px;
		margin-left:5px;
	}
	
	.welcomebox {
		background-color:black;
		margin-left:25%;
		margin-right:8%;
		margin-top:30px;
		
		font-size:1.2em;
		padding:5% 5% 0 5%;
		color:white;
		text-align:center;
	}
	
	.yellowtxt{
		color:yellow;
		margin-top:-40px;
		margin-left:190px;
		margin-bottom:10px;
	}
	
	.welcomesign {
		text-align:right;
	}
	
	.welcomesign img{
		width:70px;
		margin-top:-16px;
		
	}
	
	.newbox {
		position:absolute;
		width:250px;
		background-color:#001440;
		margin-top:40px;
		margin-left:40px;
		color:white;
	}
	
	.whatsnew img{
		width:200px;
		margin-top:-40px;
		margin-bottom:-10px;
	}
	
	.everythingsnew {
		display:inline-flex;
		justify-content:space-around;
		width:100%;
	}

	.everythingsnew img{
		width:85px;
		margin-top:-45px;
		margin-bottom:-13px;
	}
	
	.newbox {
		display:inline-flex;
		flex-flow:row wrap;
		justify-content:space-around;
		align-items: center;
		margin-top:35px;
	}

	.newbox span{
		background-color:#001440;
	}

	.newbox p {
		margin-top:0px;
		text-align: center;
	}
	

/* more stuff */

#morestuff {
	width:535px;
    height:473px;
	border: var(--containerborders); 	
	display:inline-flex;
	align-items:center;
	align-content:flex-start;
	flex-flow:row wrap;
	justify-content:space-around;
	padding-top:20px;
}

	.zines img{
		width:200px;
	}
	
	.zinestitle img{
		width:150px;
	}
	
	.updates{
		width:170px;
	}

	.updates img{
		width:100%;
		margin-left:-40px;
	}
	
	.updatestitle {
		width:100px;
		display:inline-flex;
		flex-flow:column;
		font-size:larger;
		text-align: right;
		color:white;
		margin-left:20px;
	}

	.updatestitle strong{
		font-weight: bolder;
	}

	.updatestitle p{
		margin:0;
	}
	
	.comingsoon img{
		width:110px;
	}

	.blog{
		width:310px;
		padding-top:0;
		display:inline-flex;
		align-items: center;
	}
	
	.blog img{
		width:100%;
	}

	.blog strong{
		color:#f9e87a;
		font-weight:bolder;
		font-size:xx-large;
	}

/* cool new */

#coolnew {
	width:535px;
    height:473px;
	border: var(--containerborders); 
}

	.lookouts {
		width:220px; 
		margin-left:25px; 
		margin-top:-25px;
	}
	
	.lookouts img {
		width:190px; 
		margin-left:10px;
	}
	
	.lookouts p {
		margin-top:-1px; 
		background-color: #f9e87a; 
		padding:3px; 
		text-align:center;
	}
	
	.anthologyof {
		width:235px; 
		margin-left:270px; 
		margin-top:-188px;
	}
	
	.anthologyof img {
		width:230px; 
		margin-left:15px;
	}
	
	.anthologyof p {
		margin-top:-10px; 
		background-color: #f9e87a; 
		padding:3px;
	}
	
	.ezm {
		width:450px; 
		margin-left:80px; 
		margin-top:-8px;
	}
	
	.ezm img {
		width:170px; 
		margin-left:10px;
	}
	
	.ezm p {
		margin-top:-100px; 
		margin-left:205px; 
		background-color: #f9e87a; 
		padding:3px; 
		width:150px;
	}
	
	.checkem {
		margin-left:120px; 
		margin-top:42px;
		color:white;
	}


/* cool music */

#music {
	width:535px;
    height:473px;
	border: var(--containerborders); 
}

	.musicfriend{
		margin-top:180px;
	}

/* about me */
#aboutme {
	width:535px;
    height:473px;
	border: var(--containerborders); 
}

.me img{
	position:absolute;
	margin-left:20px;
	margin-top:15px;
	width:32%;
}

.boxa {
	border:solid;
	background-color: var(--infobox); 
	text-align: center;
	font-family:Arial;
	margin-top:25px;
	margin-left:230px;
	margin-right:30px;
	margin-bottom:15px;
	font-size:1.2em;
	padding:6px;
}

.boxb {
	border:solid;
	background-color: var(--infobox); 
	text-align: center;
	font-family:Arial;
	margin-top:px;
	margin-left:210px;
	margin-right:20px;
	padding:8px;
}

.boxc img {
	margin-top:5px;
	margin-left:270px;
	width:170px;
}

.epicwelcome img{
	margin-top:-90px;
	margin-left:35px;
	width:50%
}

/* chatbox */

#chatbox {
	width:535px;
    height:473px;
	border: var(--containerborders); 
}

	.chatboxiframe iframe{
		width:400px; 
		height:370px; 
		margin-left:40px;
	}
	
/* cute gf */

#cutegf {
	width:535px;
    height:473px;
	border: var(--containerborders); 
}

	.gfmake img{
		width:90%;
		margin-top: -120px;
		margin-left:25px;
		margin-bottom:-30px
	}
	
	.gfinfo {
		margin-top: -150px;
		background-color: var(--gfbg);
		color:white;
		margin-left:100px;
		margin-right:100px;
		padding:5px;
		text-align:center;
	}
	
	.kitysleep img{
		width:80%;
		margin-top:5px;
		margin-left:20px;
	}
	
	.dolphinframe {
		width:570px;
		height:450px;
		margin-left:-20px;
		margin-top:-20px;
		position:absolute;
		overflow:hidden;
	}
	
	.dolphinframe img{
		width:100%;
		opacity:60%;
		
	}
	
/* wip frame */

#wip {
	width:535px;
    height:473px;
	border: var(--containerborders); 
}
	
	.constructionbabe img{
		margin-left:30px;
		margin-top:29px;
		width:180px;
	}
	
	.poohwreck {
		position:absolute;
		margin-left:200px;
		margin-top:-340px;
	}
	
	.thisiswip{
		position:absolute;
		background-color: orange;
		margin-left:330px;
		margin-right:30px;
		margin-top:-320px;
		padding-left:40px;
		padding-top:70px;
		padding-bottom:5px;
	}
	
	.thisiswip img{
		margin-left:68px;
		margin-top:10px;
		margin-bottom:-20px;
	}
	
	.playmud{
		width:190px;
		margin-left:250px;
		margin-top:-138px;
		
	}
	
	.playmud img{
		width:100%;

	}
	.constructcat {
		position:absolute;
		margin-left:180px;
		margin-top:-100px;
	}

	/* blinkies warning */

#graphicswarn {
	width:535px;
    height:473px;
	border: var(--containerborders); 	
	display:inline-flex;
	align-items:center;
	align-content:flex-start;
	flex-flow:row wrap;
	justify-content:center;
}

	#graphicswarn h1{
		font-weight:bolder;
		font-size:xx-large;
		color:red;
		background-color: black;
		padding:0.25em;
		margin:0;
		display:inline-flex;
		align-items:center;
		justify-content:center;
	}

	.double{
		width:10%;
	}

	#graphicswarn p{
		color:white;
		width:90%;
		background-color: black;
		padding:0.3em;
		margin:0;
	}