:root {
	--bgz: 1;
	--contentz: 5;
	
	/* Colours */
	--txt: white;
	--bg: black;
	
	/* Background vars*/
	--mainbg: url("imgs/spacecarpetbg.jpg");
	--maincontentbg: url("imgs/spaceheybground.jpg");
	--darkspacebg: url("imgs/darkspacebg.png");
}

body {
	background-image: var(--darkspacebg);
	color: var(--txt);
	font-family: 'Nunito', sans-serif;
}

 #container {
    width: 400px;
    height: 450px;
    display: flex;
    margin: 0 auto;
 }
 
 .lazytitle {
	 position:absolute;
	 margin-left:70px;
 }
 
 .computertitle {
	 position:absolute;
	 margin-left:0px;
	 margin-top:75px;
 }
 
 .indextext {
	 width:500px;
	 background-color:var(--bg);
	 position:absolute;
	 margin-top:190px;
	 
 }
 
 .comeonin img{
	 width:50%;
	 margin-left:180px;
	 margin-top:375px;
 }
 
 .comeonintxt {
	 position:absolute;
	 margin-top:420px;
	 margin-left:10px;
 }
 
 
 /* ★ site map ★ */
 
 #containertoo {
	 display: flex;
	 margin: 0 auto;
	 /**/
	 justify-content: center;
	 min-height: 100vh;
	 max-width:80vh;
	 color: var(--txt);
	 padding:20px;
 }
 
 #containertoo a {
	 color:white;
 }
 
 .sitemap {
	 padding:2vh;
	 background-color:black;
	 text-align:center;
	 
 }
 
 .lazytitle2 img {
	 width:10em;
 }
 
 .computertitle2 img {
	 width:16em;
 }
 
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}