:root {
	--bgz: 1;
	--contentz: 5;
	
	/* Colours */
	--txt: white;
	--bg: black;
	
	/* Background vars*/
	--mainbg: url("imgs/spacecarpetbg.jpg");
	--maincontentbg: url("imgs/backgrounds/metalheart_8.jpg");
	--darkspacebg: url("imgs/darkspacebg.png");
}

body {
	background-size: 40em;
	background-image: var(--mainbg);
	color: var(--txt);
	font-family: 'Nunito', sans-serif;
}

#container {
	 display: flex;
	 margin: 0 auto;
	 /**/
	 justify-content: center;
	 max-width:100vh;
	 color: var(--txt);
	 padding:10px;
 }

main {
    display:inline-flex;
	flex-flow: row wrap;
	align-content:center;
	justify-content:center;
	background-image: var(--maincontentbg);
	background-size: 100%;
	padding:1em 0;
	border: 15px solid transparent;
	border-image: url(imgs/borders/silverstarborder.png) 119 round;
 }
 
 main img {
	 width:auto;
 }
 
.wide {
	flex: 1 1 100%;
}
 
.stamps {
	display:inline-flex;
	flex: row;
	flex:1 1 100%;
	justify-content:center;
} 
 
.indextxt{
	background:rgba(0,0,0,0.4);
	max-width:90vh;
	padding:0 1em;
	margin-top:1em;
	flex: 1 0 100%;
 }
 
 .comeonin{
	 width:14em;
	 padding-top:1em;
	 align-self:center;
 }
 
 .comeonintxt {
	flex: 1 1 100%;
	display:inline-flex;
	justify-content:center;
 }
 
 .enterlink {
	margin-top:-1em;
 }
 
 
 .right {
  display: block;
  margin-left: auto;
  margin-right: 0;
  width: 50%;
}

#container a {
	 color:#c56bfa;
 }
 
 /* ★ site map ★ */
 
 #containertoo {
	 display: flex;
	 margin: 0 auto;
	 /**/
	 justify-content: center;
	 min-height: 60vh;
	 max-width:80vh;
	 color: var(--txt);
	 padding:20px;
 }
 
 #containertoo a {
	 color:#a695fc;
 }
 
 .sitemap {
	 padding:2vh;
	 background-color:black;
	 text-align:center;
	 
 }

 .safe{
	color:rgb(103, 246, 167);
	padding:0%;
	font-size:small;
 }

 .unsafe {
	color:rgb(255, 106, 106);
	padding:0%;
	font-size:small;}
 
 .lazytitle2 img {
	 width:10em;
 }
 
 .computertitle2 img {
	 width:16em;
 }
 
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

li {
	padding-left: 0%;
	padding-bottom:1%;
}
h1{
	font-weight: bolder;
	font-size:large;
}

h2{
	color:rgb(255, 106, 106);
}

h3{
	color:rgb(103, 246, 167);
}